@{
    Layout = "_Layout";
    var title = "Our Publishers";
    ViewData["Title"] = title;
}

<h3 class="text-center text-info">@title</h3>
@if (!this.User.IsInRole("User"))
{
    <div class="container justify-content-md-center" style="margin-left:15%; margin-top:2%">


        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">
                        Publisher Name
                    </th>
                    <th scope="col">
                        Modification
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Pub_name</td>

                        <td>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" style="margin-right:10px" asp-action="Update" asp-route-id="@p.Pub_id">Update</a>
                                <form asp-action="Delete" method="post" asp-route-id="@p.Pub_id">
                                    <button class="btn btn-sm btn-outline-danger" style="margin-right:10px">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
}
else
{
    <div class="card-columns">
        @foreach (var p in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@p.Pub_name</h5>
                    <div class="d-flex align-items-center">
                    </div>
                </div>
            </div>
        }
    </div>

}
